body {
  font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(to bottom, #ffffff, #f1dff3);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

h2 {
  font-size: 4rem;
  color:white;
  text-shadow: 0 0 10px rgb(208, 169, 244);
}

.button-wrapper {
  display: flex;
  gap: 1rem;
}

.button-wrapper button {
  border: none;
  background-color: rgb(176, 142, 208);
  font-weight: bold;
  font-size: 1rem;
  color: aliceblue;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  box-shadow: 0 0 10px rgb(168, 131, 202);
  outline: none;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
}

.button-wrapper button:hover {
  background-color: rgb(121, 86, 153);
}

.button-wrapper button:active {
  transform: scale(0.9);
}